{% extends 'base.html.twig' %}

{% block contenido %}
<div class="container">
    <h3>{%  block title  %} CESTA {% endblock %}</h3>
    
    {% if total >0 %}
       
<table class="table table-bordered" class=" " >
    <thead class="thead-dark table-primary">
        <tr>
            <th>Nombre</th>
                <th>Unidades</th>
                <th>PVP</th>
                <th>Total</th>
                <th>Eliminar Unidades</th>  
        </tr> 
    </thead>
 
    <tbody>
        {% for producto in cesta %}
        </tr>
            <td>{{ producto['producto'].getNombre() }}</td>
            <td>{{ producto['unidades'] }}</td>
            <td>{{ producto['producto'].getPrice() }}€</td>
            <td>{{ producto['producto'].getPrice() * producto.unidades }}€</td>
            <td>
                        <form id='eliminar' action='{{ path('eliminar', {'producto_id':producto['producto'].getId()}) }}' method='post'>
                            <input  class="minimalist-small-button" type="number" name='unidades' value='1' class="cantidad">
                            <input class="btn btn-primary btn-block" type='submit' name='eliminar' value='Eliminar'/>
                            <input type='hidden' name='cod' value='{{producto['producto'].getId()}}'/>
                        </form>
                    </td>
                   
        </tr>
        {% endfor %}
    </tbody>
</table>
        <!-- Precio Total-->
        <h3>Precio a pagar: {{ total }}€</h3>
    {% else %}
        <h3>No tiene productos en la cesta</h3>
    {% endif %}

    <!-- Formulario de compra-->
      {% if total == 0 %}
        
        {% else %}  
       <form id='comprar' action='{{ path('comprar') }}' method='post'>
          <input type='submit' name='comprar' class="btn btn-primary btn-block" value='Comprar' {% if total == 0 %}disabled{% endif %}/>
       </form>
            
        {% endif %}
            
</div>
{% endblock %}

