{% extends 'base.html.twig' %}

{% block header %}
 
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">COLISEO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('familia') }}">Suplementación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('cesta') }}">Cesta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('historial') }}">Historial</a>
        </li>
      </ul>
        
         <ul>
          {% if app.user != null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">salir</a>
                    </li>
         </ul>
         <ul>           
                {% else %}
                     <li class="nav-item">
                    <a class="nav-link" href="/register">Regístrate</a>
                    </li> 
         </ul>           
            <ul>          
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% endif %}
         </ul>
      
           
      
    </div>
  </div>
</nav>

   
               
        <!--CAROUSEL-->
        <center>
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('images/LOGO_COLISEO.PNG') }}"  class="d-block w-70 img-fluid" alt="Gimnasio">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/LOGO_COLISEO.PNG') }}"  class="d-block w-70 img-fluid" alt="Gimnasio">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images/LOGO_COLISEO.PNG') }}"  class="d-block w-70 img-fluid" alt="Gimnasio">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </center>
         <br> 
         <br> 
                    
     
  <div class="container text-center">
      <img src="{{ asset('images/LOGO.PNG') }}" class="plate-animation" width="100" alt="Gimnasio">
  </div>
 
                    
    <div class="container">  
        <section class="seccion-1">
            <div class="text-center container mt-5">
                <hr>
                <h1><strong>CLUB DE FUERZA COLISEO</strong></h1>
                <div class="container mt-5">
                    <h2 class="mt-5 animated-text" >PRODUCTOS RECOMENDADOS</h2>
                </div>  
            </div>
        </section>
   
        <br>


        
        
        
        
        
        
        
        
  
         <div class="text-center container mt-5">
            <hr>
            <h2><strong>Tienda Online de Nutrición Deportiva, Dietética Natural y Accesorios</strong></h2>
            <h4 class="mt-5">
                ¿Eres deportista y sabes que la mejor versión de ti mismo está aún por llegar? ¿Llevas o quieres seguir un estilo de vida saludable? Prepárate porque vas a ser uno de los miles de clientes COLISEO. Comprobarás cómo la distancia que te separa de tus objetivos se acorta. 
            </h4>
            <h4 class="mt-5">
            Somos la tienda online de Nutrición Deportiva y Dietética Natural líder. Para nosotros tú eres el centro de todo. En COLISEO vas a encontrar un equipo con el que vas a identificarte, pues nuestro esfuerzo por cruzar la delgada línea entre lo notable y lo sobresaliente no entiende de límites.
             </h4>
         </div>


        <!--Footer-->
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="container">
                <footer class="py-1 my-3">

                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Términos y Condiciones</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contacto</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Política de Privacidad</a></li>
                    </ul>
                    <p class="text-center text-muted">© 2023 Coliseo, Inc</p>
                </footer>
            </div>
        </footer>          

      </div>
                        
  

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}

